
.aside-menu {
  width: 310px;
  float: left;

  @media (max-width: $desktop-break-point) {
    float: none;
    margin-top: 22px;
    width: 100%;
    padding: 0;

    &.menu-mobile-open {
      position: fixed;
      overflow: scroll;
    }
  }
}

.aside-menu__wrapper {
  margin-left: 40px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.09);

  @media (min-width: 951px) {

    & ::-webkit-scrollbar {
      width: 19px;
    }

    & ::-webkit-scrollbar-track {
      background-color: #e1e1e1;
    }

    & ::-webkit-scrollbar-thumb {
      background: #ffffff;
      background-image: url("/img/line.png");
      background-position: center;
      background-repeat: no-repeat;
      border: solid 1px #ebebeb;
    }
  }

  @media (max-width: $desktop-break-point) {
    margin: 0;
  }
}

.aside-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: $aside-list-max-height;
  position: relative;
  overflow: visible;
  z-index: 200;

  @media (max-width: $desktop-break-point) {
    max-height: initial;
  }

  &--level-2 {
    position: absolute;
    left: 101%;
    top: 0;
    overflow: visible;
    width: 100%;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    height: 440px;
    display: none;


    @media (max-width: $desktop-break-point) {
      box-shadow: none;
      overflow-y: initial;
      max-height: none;
      border-top: 1px solid rgba(0, 0, 0, 0.09);
      position: initial;
    }
  }

  &--level-3 {
    position: absolute;
    left: 100%;
    top: 0;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    height: 440px;
    line-height: 21px;
    box-sizing: border-box;
    display: none;

    @media (max-width: $desktop-break-point) {
      position: initial;
      box-shadow: none;
      border-top: 1px solid rgba(0, 0, 0, 0.09);
      max-height: none;
      height: auto;
      overflow: initial;
    }
  }
}

.aside-menu__list--level-2 .aside-menu__link {
  @media (max-width: $desktop-break-point) {
    padding-left: 55px;
    padding-right: 40px;
  }
}

.aside-menu__item-wrapper {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  max-height: 440px;

  @media (max-width: $desktop-break-point) {
    max-height: none;
  }
}

.aside-menu__title {
  display: block;
  color: #ffffff;
  padding: 13px 59px 13px 10px;
  background-color: #429755;
  letter-spacing: 0.96px;
  box-sizing: border-box;

  @media (max-width: $desktop-break-point) {
    padding-left: 20px;
    padding-right: 30px;
  }
}

.aside-menu__item {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
}


.aside-menu__link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.56px;
  text-align: left;
  color: #3c2824;
  text-decoration: none;
  padding: 10px 40px 10px 10px;
  position: relative;

  @media (max-width: $desktop-break-point) {
    max-height: none;
    padding-left: 40px;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 7px;
    width: 7px;
    border-right: 2px solid #3c2824;
    border-bottom: 2px solid #3c2824;
    transform: rotate(-45deg);
    position: absolute;
    right: 25px;
    top: 17px;
  }

  .opera-mini &::after {
    display: none;
  }

  &:hover {
    color: #ffffff;
    background-color: #429755;

    &::after  {
      border-right: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
    }
  }
}

.aside-menu__item--click .aside-menu__link {

  &::after  {
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
  }
}

.aside-menu__item.aside-menu__item--click > .aside-menu__link {
  color: #ffffff;
  background-color: #429755;

  @media (max-width: $desktop-break-point) {
    background-color: #ffffff;
  }

}

.aside-menu__list--level-3 .aside-menu__link {
  &::after {
    display: none;
  }
}

.aside-menu__item-quantity,
.aside-menu__item-date {
  font-style: italic;
}

.aside-menu__item--click > .aside-menu__link {
  @media (max-width: $desktop-break-point) {

    &::after {
      display: none;
    }
  }
}


.aside-menu__item--click > .aside-menu__link .aside-menu__link-text {
  @media (max-width: $desktop-break-point) {
    background-color: #55c56e;
    color: #ffffff;
    padding: 7px;
    margin-left: 5px;
    line-height: 2em;


    &::before {
      content: "";
      display: none;
      height: 7px;
      width: 7px;
      border-right: 2px solid #3c2824;
      border-bottom: 2px solid #3c2824;
      transform: rotate(135deg);
      position: absolute;
      top: 20px;
      left: 30px;
    }

    .opera-mini &::before {
      display: none;
    }
  }
}

.aside-menu__list--level-2 .aside-menu__item--click > .aside-menu__link .aside-menu__link-text {
  @media (max-width: $desktop-break-point) {
    background-color: #67dc81;
    color: #ffffff;
    margin-left: 0;
    padding: 8px;
    box-sizing: border-box;


    &::before {
      display: none;
    }
  }
}

.aside-menu__item--click .aside-menu__link-wrapper {
  @media (max-width: $desktop-break-point) {
    padding-left: 10px;
  }
}



.aside-menu__item-title {
  font-weight: 600;
}

.aside-menu__item-type {
  font-weight: 600;

  @media (max-width: $desktop-break-point) {
    padding-left: 6px;
  }
}

.aside-menu__item-quantity {
  @media (max-width: $desktop-break-point) {
    padding-right: 6px;
  }
}

.aside-menu__item-date {
  @media (max-width: $desktop-break-point) {

  }
}

.aside-item-column-1 {
  display: flex;
  flex-direction: column;

  @media (max-width: $desktop-break-point) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.aside-item-column-2 {
  display: flex;
  flex-direction: column;

  @media (max-width: $desktop-break-point) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}




.aside-menu__item--click .aside-menu__list--level-2 {
  display: block;
}

.aside-menu__item--click > .aside-menu__list--level-3 {
  display: block;
}

.menu-mobile-open {
    @media (max-width: $desktop-break-point) {
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      background-color: #ffffff;
      box-sizing: border-box;
      margin-top: 0;
    }
}

.menu-mobile-open  .aside-menu__title {
  @media (max-width: $desktop-break-point) {
    background-color: #ffffff;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  }
}

.menu-mobile-open  .aside-menu__title-text {
  @media (max-width: $desktop-break-point) {
    background-color: #429755;
    padding: 7px 8px;
    margin-left: 15px;
    position: relative;

    &::before {
      content: "";
      display: none;
      height: 7px;
      width: 7px;
      border-right: 2px solid #3c2824;
      border-bottom: 2px solid #3c2824;
      transform: rotate(135deg);
      position: absolute;
      top: 12px;
      left: -15px;
    }

    .opera-mini &::before {
      display: none;
    }
  }
}

.aside-menu__button-close {
  display: none;
}

.menu-mobile-open .aside-menu__button-close {
  display: none;
    @media (max-width: $desktop-break-point) {
      display: block;
      width: 17px;
      height: 17px;
      background: url("/img/button-close.png") no-repeat;
      background-position: center;
      border: none;
      background-color: #ffffff;
      position: absolute;
      top: 15px;
      right: 25px;
    }
}

.mobile-hidden {
  @media (max-width: $desktop-break-point) {
    display: none;
  }
}

