.text {
  font-size: 14px;
  color: #3a2623;


  &--link {
    color: #004a80;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &--suggest {
    font-weight: 700;
    color: #008e3e;
  }

  &--time {
    font-style: italic;
  }

  &--name {
    color: #00873a;
  }

}