
.social-button {
  list-style: none;
  display: flex;
  padding: 30px 0 0 0;
}

.social-button__link {
  display: block;
  width: 30px;
  height: 30px;
  padding-right: 10px;


  &--g-plus {
    background: url("/img/google-plus.png") no-repeat;
  }

  &--linkedin {
    background: url("/img/linkedin.png") no-repeat;
  }

  &--twitter {
    background: url("/img/twitter.png") no-repeat;
  }

  &--facebook {
    background: url("/img/facebook.png") no-repeat;
  }

}