.aside-menu__item--click > .aside-menu__link .aside-menu__link-text.arrow-back {
  @media (max-width: $desktop-break-point) {
    &::before {
      display: inline-block;
    }
  }
}

.menu-mobile-open  .aside-menu__title-text.arrow-back {
  @media (max-width: $desktop-break-point) {
    &::before {
      display: inline-block;
    }
  }
}