$desktop-break-point: 950px;

.block-up {
  display: none;

  @media (min-width: $desktop-break-point) {
    display: flex;
    position: sticky;
    width: 270px;
    height: 270px;
    margin-left: 40px;
    margin-top: 20px;

    &:hover {
      background-color: rgba(66, 151, 85, 0.1);
    }
  }
}

.block-up__button {
  display: block;
  margin: auto;
  width: 45px;
  height: 45px;
  background-color: #429755;
  border-radius: 50px;
  background-image: url("/img/white-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;

}