$desktop-break-point: 950px;

.title--second {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.88px;
  color: #3a2623;
  margin: 20px 0;
  padding: 10px 0;

  @media (max-width: $desktop-break-point) {
    font-size: 20px;
  }
}