$desktop-break-point: 950px;

.main {
  float: right;
  width: calc(100% - 310px);
  padding-left: 22px;
  box-sizing: border-box;

  &--ads {
    width: 100%;
    float: none;
  }

  @media (max-width: $desktop-break-point) {
    float: none;
    width: 100%;
    padding-left: 20px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
  }
}

.main__block-wrapper {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;

  &:first-child {
    margin-right: 5px;
  }

}

.main__block {
  width: 300px;
  height: 225px;
  background-color: #7d7d7d;
  margin-top: 15px;

  &--block-1 {
    margin-right: 5px;
  }

  &--block-2 {
    margin-left: 5px;
  }

  &--block-3 {
    display: none;
  }


  @media (max-width: $desktop-break-point) {
    margin: 40px 0 0 0;

    &--block-1 {
      width: 320px;
      height: 50px;
    }

    &--block-2 {
      display: none;
    }

    &--block-3 {
      margin: 40px auto;
    }
  }
}
