.green-line {
  height: 1px;
  background-color: #008e3e;
  border: none;
  margin-top: 0;

  &--header {
    margin-bottom: 15px;

    @media (max-width: $desktop-break-point) {
      margin-bottom: 22px;
    }
  }

  &--footer {
    margin-top: 40px;
    margin-bottom: 0;
  }
}