.form-search {
  margin: 40px 0;
}

.form-search__sorting-standard {
  position: relative;
  margin-right: 60px;
  margin-left: 50px;

  &::after {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: #1c8835;
    background-image: url("/img/q.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 20px;
    right: -10px;
  }
}

.form-search__sorting-date {
  color: #004a80;
}

.form-search__input {
  padding: 12px 18px;
  width: 320px;
  box-sizing: border-box;
}