.breadcrumbs {
  list-style: none;
  display: flex;
  margin-top: 26px;
  padding-left: 0;

}

.breadcrumbs__link {
  text-decoration: none;
  color: #004a80;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 5px;

  &[href]::after {
    content: "";
    display: inline-block;
    height: 7px;
    width: 7px;
    border-right: 2px solid #3c2824;
    border-bottom: 2px solid #3c2824;
    transform: rotate(-45deg);
    }

  &:not([href]) {
    color: #1a1618;
  }
}
