$desktop-break-point: 950px;

.main-footer {

}

.main-footer__wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;

  @media (max-width: 520px) {
    flex-direction: column;
    align-items: center;
  }

}

.main-footer__info-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

.main-footer__info-link {
  text-decoration: none;
  font-size: 14px;
  color: #3c2824;
  line-height: 2.36;
}

.main-footer__mailing {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  padding: 0;

  @media (max-width: $desktop-break-point) {
    margin-top: 25px;
  }
}

.main-footer__mailing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left: 20px;
}

.rss {
  display: block;
  width: 16px;
  height: 16px;
  padding-left: 13px;

}

.main-footer__mailing-link {
  text-decoration: none;
  font-size: 14px;
  color: #3c2824;
  line-height: 2.04;
}

.main-footer__text-block {
  max-width: 880px;
  margin: 0 auto 45px auto;
  padding: 0 60px;

  @media (max-width: $desktop-break-point) {
    text-align: center;
  }

}