$desktop-break-point: 950px;
$aside-list-max-height: 440px;

.main-header {

}

.main-header__user-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;

  @media (max-width: $desktop-break-point) {
    padding-left: 0;
  }
}

.main-header__logo {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;

  @media (max-width: $desktop-break-point) {
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 108px;
    height: 80px;
  }
}

.main-header__user-link {
  font-size: 15px;
  letter-spacing: 0.6px;
  font-weight: 500;
  text-align: right;
  color: #3a2623;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
    }

  &--add::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/img/plus.png") no-repeat;
    padding-right: 18px;
  }

  &--login-registration::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 28px;
    background: url("/img/icons-enter.png") no-repeat;
    padding-right: 18px;
  }

  &--search::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 28px;
    background: url("/img/icons-search.png") no-repeat;
    padding-right: 18px;
  }

  &--favorites::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("/img/favorites.png") no-repeat;
    padding-right: 18px;
  }
}

.main-header__link-text {
  @media (max-width: $desktop-break-point) {
    display: none;
  }
}

.main-header__site-nav {
  float: right;
  width: calc(100% - 310px);

  &--ads {
    float: none;
    width: 100%;
  }

  @media (max-width: $desktop-break-point) {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.main-header__site-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 14px 0 15px 30px;

  &--ads {
    justify-content: space-around;
    margin-top: 28px;
  }


  @media (max-width: $desktop-break-point) {
    overflow-x: scroll;
    margin: 22px 0 22px 15px;

    .opera-mini & {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

.main-header__site-nav-link {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.96px;
  text-align: left;
  color: #1a1618;
  text-decoration: none;
  padding: 13px;


  @media (max-width: $desktop-break-point) {
    display: inline-block;
    padding: 13px 19px;
    border: 1px solid rgba(66, 151, 85, 0.3);
    margin: 0 5px;
  }

  &:hover {
    background-color: #429755;
    color: #ffffff;
  }

}
